html {
    height: 100%;
    width: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
  }
  
  body {
    background-image: url('images/Background.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .hr-register {
    border: 2px solid #EBEBEB;
    width: 150%;
  }
  
  .logo {
    margin-top: 40px;
    margin-left: 40px;
  }
  
  .container {
    width: 855px;
    height: 597px;
    flex-shrink: 0;
    margin-left: 124px;
    margin-top: 76px;
    border-radius: 23px;
    background: linear-gradient(180deg, rgba(0, 87, 136, 0.50) 25.94%, rgba(145, 175, 47, 0.50) 80.73%, rgba(191, 219, 197, 0.00) 100%);
    box-shadow: 2px 6px 19px 5px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(50px);
    padding: 3% 3%;
  }
  
  .register-container {
    color: #FFF;
    float: left;
  }
  
  .info-container {
    width: 356px;
    height: 458px;
    flex-shrink: 0;
    border-radius: 0px 27px 27px 27px;
    background: #EBEBEB;
    box-shadow: 15px 17px 13px -7px rgba(0, 0, 0, 0.15);
    float: right;
    padding: 3% 3%;
  }
  
  .info-background {
    width: 140px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 0px 16px 16px 16px;
    background: #A7DC58;
    margin-left: -40px;
    box-shadow: 2px 4px 9px -2px rgba(85, 85, 85, 0.31);
  }
  
  #infos {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #register {
    margin-bottom: 20px;
  }
  
  input,
  label {
    display: block;
  }
  
  label {
    font-weight: 600;
    margin-left: 8px;
    margin-bottom: 5px;
  }
  
  .product-input,
  .category-select,
  .quantity-input {
    width: 330px;
    height: 50px;
    margin-bottom: 45px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(255, 255, 255, 0.60);
  }
  
  .category-product {
    font-size: 30px;
    font-weight: 700;
    margin-top: 15px;
  }
  
  .percentage {
    font-weight: 400;
  }
  
  .minimum-percent {
    font-size: 13px;
    margin-left: 10px;
  }
  
  .hr-infos {
    margin-top: 15px;
    border: 1px solid #AEAEAE;
  }
  
  .label-total,
  .quantity-products {
    text-align: center;
  }
  
  .label-total {
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .quantity-products {
    font-size: 24px;
    font-weight: 400;
  }
  
  .total-products {
    font-weight: 800;
    color: #3caeec;
  }
  
  
  
  .category-select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: right 0.7rem top 50%;
    background-size: 0.65rem auto;
  }
  
  
  .submit-button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #A7DC58;
    color: #FFF;
    font-size: 18px;
    font-weight: 800;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.09);
    margin-left: 80px;
    transition-duration: 0.4s;
  }
  
  .submit-button:hover {
    background-color: black;
    cursor: pointer;
  }
  
  .submit-button {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #3caeec;
    color: #FFF;
    font-size: 18px;
    font-weight: 800;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.09);
    margin-left: 80px;
    transition-duration: 0.4s;
  }
  
  .submit-button:hover {
    background-color: #6be68a;
    cursor: pointer;
  }
  
  .success-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .success-message {
    display: none;
    position: fixed;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .show-message {
    display: block;
    opacity: 1;
    animation: fadeInUp 0.3s ease-in-out, fadeOut 0.3s ease-in-out 2.7s forwards;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate(-50%, 100%);
    }
  
    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      display: none;
    }
}